/* Navbar.css */
.navbar {
    background-color: #f4f5f6 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.2rem !important;
    padding-left: 2rem !important; 
    padding-right: 2rem !important;

    color: #808893 !important;
    
  }

   
  
  .logo {
    height: 50px;
    display: flex;
    align-items: center;
     
  }
  
  .devices {
    margin-left: 2rem;
    font-size: 18px;
  }
  

  .logo svg {
     padding: 0.5rem;
    height: 27px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;  
    transition: border 0.2s;  
  }
  
   
  .svg-logo {
    
    padding: 0.5rem;
    height: 45px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
     
  }
  
  .svg-logo:focus {
    border-color: #006FFF;
    outline: none;
  }
  
   


  .svg-logo:hover {
    filter: invert(35%) sepia(66%) saturate(5421%) hue-rotate(205deg) brightness(100%) contrast(110%) ;
     
  }
  
   
   
 